{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>home page</b>
            {% if user.is_authenticated %}
               Welcome to IOE KU Test series
            {% endif %}
        </p>
        <hr class="my-4">
        <p class="lead">
            
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
                <a class="btn btn-primary btn-lg" href= "{% url 'dashboard' %}">Dashboard<a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
            <a class="btn btn-primary btn-lg" href= "{% url 'ioeentrancesyllabus' %}">IOE Entrance Syllabus<a>
            <a class="btn btn-primary btn-lg" href= "{% url 'kuentrancesyllabus' %}">KU Entrance Syllabus<a> 
            <a class="btn btn-primary btn-lg" href= "#">Blog<a>
            <a class="btn btn-primary btn-lg" href= "#">Developers<a>  
        </p>
    </div>

{% endblock content %}